// Here you can add other styles
@media (min-width: 768px) {
.c-main > .container-fluid, .c-main > .container-sm, .c-main > .container-md, .c-main > .container-lg, .c-main > .container-xl {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
}

.c-main {
    padding-top: 0.7rem !important;
}

/* IE 11 */
@media all and (-ms-high-contrast:none) {
:not(.c-wrapper-fluid).c-wrapper .c-header-fixed ~ .c-body {
    margin-top: 58px;
}
}
.c-subheader-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 0px !important;
    padding: 0;
    margin-bottom: 0px;
    list-style: none;
}

.report__control-panel input, .report__control-panel select {
    height: auto !important;
}

.report__control-panel button {
    height: 37px !important;
    padding: initial !important;
}

.fields-array {
    background-color: #cccccc52;
    border-radius: 10px;
}

.MuiTypography-body1 {
    font-size: small !important;
}

.juMcrd {
    position: relative !important;
    left: 0;
    text-align: center;
    width: 100%;
    height: 50%;
    z-index: 1 !important;
    display: inline-block;
}

// #carga-cheques-div {
//     overflow-y: scroll;
//     max-height: fit-content;
// }

// #cliente-vendedor {
//     transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
//   }
//   /** Use .sticky */
//   #cliente-vendedor.sticky {
//     position: fixed;
//     top: 15px;
//     left: auto;
//     max-width: 280px;
//     max-height: 158px;
//     width: 280px;
//     height: 158px;
//   }
//   @media screen and (min-width: 1120px) {
//      #fcliente-vendedor.sticky {
//         transform: translateX(-80%);
//      }
//   }
// //   @media screen and (min-width: 1300px) {
// //      #cliente-vendedor.sticky {
// //         transform: translateX(-115%);
// //      }
// //   }